
<div class="overflow-x-auto relative shadow-md py-3 sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Estado
                </th>
                <th scope="col" class="py-3 px-6">
                    Fecha
                </th>
                <th scope="col" class="py-3 px-6">
                    Configurado por
                </th>
            </tr>
        </thead>
        <tbody>
            {% for record in dataLastRecords %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ record.status }}
                </th>
                <td class="py-4 px-6">
                    {{ record.recordTime }}
                </td>
                <td class="py-4 px-6">
                    {{ record.setBy }}
                </td>
                <td class="py-4 px-6">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver</a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
