{% extends 'base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send message">
</form>


{% comment %} <div class="row">
                                                
    <div class="col-md-6">
        <div class="mb-5">
         {{form.permissions}}
        </div>
    </div>
    <div class="mb-5"></div>
    {{form.errors}}
</div> {% endcomment %}

{% endblock content %}

{% block scripts %}
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/SelectBox.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/SelectFilter2.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
{% endblock scripts %}