{% extends 'base.html' %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}



<form method="post">{% csrf_token %}
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico</label>
        {{ form.email }}
        <p class="text-red-600">{{ form.username.errors }}</p>
    </div>
    <div class="mb-6">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario</label>
        {{ form.username }}
        <p class="text-red-600">{{ form.username.errors }}</p>
    </div>
    <div class="mb-6">
        <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
        <input type="password" name="password1" autocomplete="new-password" id="id_password1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="mb-6">
        <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmar contraseña</label>
        <input type="password" name="password2" autocomplete="new-password" id="id_password2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        <p class="text-red-600">
        {{ form.password2.errors }}</p>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres</label>
            {{ form.first_name }}
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
            {{ form.last_name }}
        </div>
        <div class="relative z-0 w-full mb-6 group">
            {{ form.is_superuser }}
            <label for="is_superuser" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">¿Es administrador del sistema?</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            {{ form.is_staff }}
            <label for="is_staff" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">¿Es profesor?</label>
            <input type="hidden" name="is_active" id="id_is_active" value=True>
        </div>
    </div>
    
    
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar</button>
  </form>
  


{% endblock content %}