{% extends 'base.html' %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}

<h1 class=" text-blue-600">Edicion de usuario {{ usuario }}</h1>

<form method="post">{% csrf_token %}
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico</label>
        {{ form.email }}
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres</label>
            {{ form.first_name }}
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
            {{ form.last_name }}
        </div>
        <div class="relative z-0 w-full mb-6 group">
            {{ form.is_superuser }}
            <label for="is_superuser" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">¿Es administrador del sistema?</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            {{ form.is_staff }}
            <label for="is_staff" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">¿Es profesor?</label>
        </div>
    </div>
    
    
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar</button>
  </form>
  


{% endblock content %}